<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<style>
  .si{
    background-color: #d5d5d5;
  }
</style>
<body class="container">
    <center>
        <div class="si">
            
            <h1>Compañia de luz</h1>
            <h2>Quezada Ramos Julio Emiliano</h2>
            <img src="https://selectra.es/sites/selectra.es/files/2022-05/contrato%20luz%20gas.png" alt="Compañia de luz" height="250px" >
        </div>
    </center>
</body>
</html>