<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    main {
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .input-container {
      margin-bottom: 15px;
    } 

    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 5px;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;
    }

    button {
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-primary {
      background-color: #4caf50;
      color: #fff;
    }

    .btn-danger {
      background-color: #d9534f;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 4px;
    }

    .table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      background-color: #BAEC7D;
    }

    th {
      color: white;
      background-color: #BAEC7D;
    }

    tbody tr:hover {
        background-color: #BAEC7D;
    }
    form {
  display: flex;
  flex-direction: column;
  background-color: #BAEC7D; 
  padding: 20px; 
  border-radius: 8px;
}

a{
    text-decoration: none;
    color: inherit;

}

  </style>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <main>
      <% if(!isPost){ %>
    <form class="main-content" id="formularioPago" action="/pago" method="post">
        <div class="input-container">
          <label for="numero">Numero Recibo</label>
          <input id="numero" type="number" name="numero" required />
        </div>
        <div class="input-container">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" name="nombre" required/>
        </div>
        <div class="input-container">
          <label for="domicilio">Domicilio</label>
          <input id="domicilio" type="text" name="domicilio" required/>
        </div>
        <div class="input-container">
          <label for="servicio">Tipo de Servicio</label>
          <select id="servicio" name="servicio" >
            <option value="0">Domestico</option>
            <option value="1">Comercial</option>
            <option value="2">Industrial</option>
          </select>
        </div>
        <div class="input-container">
          <label for="kwConsumidos">Kilowatts Consumidos</label>
          <input id="kwConsumidos" type="number" name="kwConsumidos"required />
        </div>
        <div class="buttons-container">
            <button class="btn btn-primary" type="submit">
              Enviar Informacion
            </button>
            <button class="btn btn-danger" onclick="limpiarFormulario()">Limpiar</button>
          </div>
      </form>

      <%} else{ %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Kiowatts Consumidos</th>
            <th scope="col">Costo por Kiowatts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= numero %></td>
            <td><%= nombre %></td>
            <td><%= servicio %></td>
            <td><%= kwConsumidos %></td>
            <td><%= precioKw %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Subtotal:</td>
            <td><%= subtotal %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Impuesto:</td>
            <td><%= impuesto %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Descuento:</td>
            <td><%= descuento %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total a pagar:</td>
            <td><%= subtotalConDescuento %></td>
          </tr>
        </tbody>
      </table>
      <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>

<script>
    function limpiarFormulario() {
      document.getElementById("formularioPago").reset();
    }
  </script>
